*{
	margin: 0;
	padding: 12px;
	box-sizing: border-box;
}  
body{
	background: url(../web-devlopment/photos/pic.jpeg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}
header{
	background: transparent;
	width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo a{
	font-size: 60px;
	font-weight: bold;
	color: rgb(113, 89, 114);
	letter-spacing: 2px;
 ;
	cursor: pointer;
    text-shadow: 1px 1px 10px rgb(137, 121, 139);
}
nav li{
	display: inline-block;
	list-style: none;
	padding: 30px 20px;

}

a {
	font-size: 30px;
	color: rgb(113, 89, 114);
	text-decoration: none;
	cursor: pointer;
}

nav li a:hover{
	color: rgb(113, 89, 114);
}
button {
    background: rgb(113, 89, 114);
	border: none;
	border-radius: 50px;
	padding: 20px;
    box-shadow: 2px 2px 20px 0 rgb(90, 75, 85);
}
button:hover{
	background:  transparent;
}
button a{
    color: rgb(212, 206, 211);
    text-shadow: 1px 1px 2px rgb(148, 145, 145);
}


.wrapper{
	width: 70vw;
	height: 75vh;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
	position: relative;
	margin: 5rem auto;
	left: 20px;
	overflow: hidden;
   }
   #slider-img-1{
	   background: url(../web-devlopment/photos/pic1.jpeg);
	   background-size:cover ;
	   background-position: center ;
   }
   #slider-img-2{
	   background: url(../web-devlopment/photos/pic2.jpeg);
	   background-size:cover ;
	   background-position: center ;
   }
   #slider-img-3{
	background: url(../web-devlopment/photos/pic3.jpeg);
	background-size:cover ;
	background-position: center ;
}
#slider-img-4{
	background: url(../web-devlopment/photos/pic4.jpeg);
	background-size:cover ;
	background-position: center ;
}
#slider-img-5{
	background: url(../web-devlopment/photos/pic5.jpeg);
	background-size:cover ;
	background-position:center ;
}
#slider-img-5{
	background: url(../web-devlopment/photos/pic6.jpeg);
	background-size:cover ;
	background-position:center ;
}
   .wrapper .wrapper-holder{
	   display: grid;
	   grid-template-columns: repeat(5, 100%);
	   width: 100%;
	   height: 100%;
	   animation: slider 25s infinite alternate;
   }
   @keyframes slider{
	   0%{
		   transform: translateX(0%);
	   }
	   10%{
		   transform: translateX(-100%);
	   }
	   20%{
		   transform: translateX(-200%);
	   }
	   30%{
		   transform: translateX(-300%);
	   }	
	   40%{
		transform: translateX(-400%);
	   }
	   50%{
		transform: translateX(-500%);
	   }
	   60%{
		transform: translateX(-500%);
	   }
	   70%{
		transform: translateX(-400%);
	   }
	   80%{
		transform: translateX(-300%);
	   }
	   90%{
		transform: translateX(-200%);
	   }
	   100%{
		transform: translateX(-100%);
	   }
   }