*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url(../web-devlopment/photos/pic.jpeg);
	background-size: cover;
	background-position: center;
	height: 100%;
}
.logo{
	font-size: 100px;
	font-weight: bold;
	color:  rgb(65, 65, 86);
	letter-spacing: 1px;
	cursor: pointer;
}
.b1 ,.b2 {
	display: block;
	padding: 30px;
	margin: 50px;
	background-color: rgb(95, 77, 101);	
	border: none;
	color: beige;
	font-size: 40px; /*size of button*/
	border-radius: 60px;
  }
	

